.DS_Store
DerivedData/
build/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
xcuserdata/
Pods/
Podfile.lock

# CocoaPods workspace artifacts (keep project, ignore workspace if it is generated)
*.xcworkspace/
